.side {
    border-right: 1px solid;
    padding-right: 20px;
    border-color:#E5E5E5;
  }
  h3{
      font-size: px;
      padding: 10px 15px;
      background: #493eff;
      color: #fff;
      text-shadow: 2px 2px 5px #0033ff;
      text-transform: uppercase;
  }